/*Partie 1*/
.numbersOnline {
    display: flex;
    justify-content: center;
    margin: 20px 38px 0px 38px;
}

.number {
    /*Permet de définir la taille de chaque boite*/
    width: 230px;
    height: 200px;
    margin: 0px 20px;
    overflow: hidden;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

    /*Début du style pour chaque boite*/
#boiteNombreUn {
    background-color: rgb(75, 153, 89);
    border-radius: 10px;
}
#boiteNombreDeux {
    background-color: rgb(133, 41, 126);
    border-radius: 10px;
}
#boiteNombreTrois {
    background-color: rgb(228, 169, 59);
    border-radius: 10px;
}
#boiteNombreQuatre {
    background-color: rgb(90, 154, 154);
    border-radius: 10px;
}

#boiteNombreCinq {
    background-color: rgb(90, 154, 154);
    border-radius: 10px;
}

    /*Fin du style pour chaque boite*/

.texteForSquares {
    padding-top: 5px;
    font-size: 13px;
}
.nombresOnline {
    font-weight: 900;
    font-size: 40px;
    margin-top: 40px;
}
.additionalMarginForVertical { /*Pour mettre tout au même niveau*/
    margin-top: 60px;
}
/*Fin de la partie 1*/

/*Partie 2*/
.levelInCountry {
    background-color: #fff;
    margin: 20px 38px 0px 38px;
    border-radius: 10px;
    overflow: hidden;
}
/*Fin de la partie 2*/

/*Partie 3*/

.troisCamembert {
    display: flex;
    margin: 20px 38px 0px 38px;
    justify-content: space-between;
}

#camembert {
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

/*Fin de la partie 3*/

/*Partie 4*/
.accountDuringSolo {
    background-color: #fff;
    margin: 20px 38px 0px 38px;
    border-radius: 10px;
    overflow: hidden;
}
/*Fin de la partie 4*/