/*Début du style pour la Partie 1*/
.donneOnline {
    display: flex;
    justify-content: center;
    margin: 20px 38px 0px 38px;
}


.nombres {
    width: 230px;
    height: 200px;
    margin: 0px 20px;
    overflow: hidden;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* Style pour chaque boite, dans l'ordre */
#boiteNombreUn {
    background-color: rgb(133, 41, 126);
    border-radius: 10px;
}
#boiteNombreDeux {
    background-color: rgb(228, 169, 59);
    border-radius: 10px;
}
#boiteNombreTrois {
    background-color: rgb(75, 153, 89);
    border-radius: 10px;
}
#boiteNombreQuatre {
    background-color: rgb(90, 154, 154);
    border-radius: 10px;
}

.texteForSquares {
    padding-top: 5px;
}

.nombresOnline {
    font-weight: 900;
    font-size: 40px;
    margin-top: 40px;
}

.additionalMarginForVertical { /*Pour mettre tous les chiffres au même niveau*/
    margin-top: 60px;
}
    /* Fin du style pour chaque boite */
/*Fin du style pour la Partie 1*/

/*Début du style pour la Partie 2*/
.gameStart {
    background-color: #fff;
    margin: 20px 38px 0px 38px;
    border-radius: 10px;
    max-height: 500px;
}
/*Fin du style pour la Partie 2*/

/*Début du style pour la Partie 3*/
    /*Début Général*/
.endGame {
    margin: 20px 38px 0px 38px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.carteDuMonde {
    height: 500px;
    width: 50%;
}

.containerForEndGame {
    margin: 5px 0px 10px 0px; 
    display: flex;
    justify-content: center;
}

.boxEnd {
    width: 190px;
    margin: 0px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    /*Fin Général*/

.nombreFinDePartie {
    color: rgb(228, 169, 59);
    font-size: 30px;
    margin-top: 5px;
}

.textContentFinDePartie {
    font-weight: 300;
    font-size: 13px;
    margin-top: 5px;
    color: rgb(87, 96, 125);
}
/*Fin du style pour la partie 3*/

/*Début de la Partie 4*/
.gameModeMostPlayed {
    margin: 20px 38px 0px 38px;
    max-height: 500px;
    background-color: white;
    border-radius: 10px;
}

#boxForTheMap {
    width: 75%;
    display: flex;
    background-color: beige;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    max-height: 450px;
}
/*Fin de la Partie 4*/

/*Début de la zone pour le dernier graphique*/
.resumeByCountry {
    background-color: #fff;
    margin: 20px 38px 0px 38px;
    border-radius: 10px;
}

.wrapperLastGraph {
    display: flex;
    justify-content: center;
    align-items: center;
} 

/*Fin de la zone pour le dernier graphique*/

